@import '../../variables.module';

.slider {
  position: relative;
  width: 100%;
  height: 141px;
  background-color: aliceblue;
  overflow: hidden;

  .slideList {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .slideItems {
      width: $mobile-width;
      object-fit: fill;
    }
  }

  .bullet {
    bottom: 10px;
    right: 10px;
    z-index: 999;

    li {
      height: 10px;
      width: 10px;
      background: #ccc;
      border-radius: 50%;
      margin-left: 3px;
      margin-right: 3px;
      cursor: pointer;

      &:hover {
        background: #bbb;
      }

      &.active {
        background: red;
      }
    }
  }
}
