@import '/styles/variables.module.scss';

.contacts {
  .timeNotice {
    padding: 53px 19px 180px;
    background-color: #fff;

    h3 {
      font-size: 16px;
      font-weight: $weightRegular;
    }

    p {
      font-size: 14px;
      font-weight: $weightRegular;
    }

    p:nth-child(3) {
      font-weight: 400;
      color: rgba(128, 128, 128, 1);
    }
  }

  .faqBox {
    margin-top: 9px;
    background: #fff;
    padding: 16px 19px 0;
    border-bottom: 1px solid rgba(196, 196, 196, 1);

    .faqTypeBox {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .typeButton {
        width: 50%;
        font-size: 14px;
        padding: 20px;
      }

      .typeButtonRed {
        @extend .typeButton;
        border-bottom: 1px solid $color-primary;
      }
    }
  }
}
