@import './variables.module';

.nav {
  width: 100%;
  background-color: #fff;

  .navWrap {
    display: flex;
    align-items: center;
    padding: 7px 17px;
  }

  .logo {
    width: 250px;
    text-align: center;
    font-weight: $weightBold;
    margin-left: 10px;
    cursor: pointer;
  }
}
