@import 'styles/variables.module.scss';

.faqForm {
  width: 100%;

  .faqList {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 19px;
    margin-top: 1px;

    .questionsIcon {
      color: $color-primary;
      margin-right: 9px;
    }

    .questionsTitle {
    }

    .questionsDetailViewIcon {
      margin-left: auto;
      transform: rotate(-90deg);
    }

    .questionsDetailViewIconOpen {
      margin-left: auto;
      transform: rotate(90deg);
    }
  }
  .answerForm {
    background: #f1f3f4;

    .answer {
      padding: 17px 19px;
      line-height: 140%;
    }
  }
}
