.infoNotice {
  height: 100vh;
  padding: 0 17px;
  background-color: #fff;
}

.warningInfo {
  .warningTitle {
    font-size: 14px;
    padding-top: 18px;
  }
  .warningContents {
    font-size: 12px;
    color: rgba(128, 128, 128, 1);
    padding-top: 10px;
  }
}
