@import 'styles/variables.module.scss';

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .slideWrap {
    display: flex;
    width: 100%;
    height: 185px;
    transition: all 0.5s;

    .slideList {
      width: 100%;
      position: relative;

      .slideItems {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .bullet {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
    z-index: 999;

    li {
      height: 10px;
      width: 10px;
      background: #ccc;
      border-radius: 50%;
      margin-left: 3px;
      margin-right: 3px;
      cursor: pointer;

      &:hover {
        background: #bbb;
      }

      &.active {
        background: red;
      }
    }
  }
}
