@import 'styles/variables.module.scss';

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .slideWrap {
    display: flex;
    height: 15em;
    transition: all 0.5s;

    .slideList {
      width: 100%;
      position: relative;

      .slideItems {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .bullet {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
    z-index: 999;
  }
}
