.storeContainer {
  width: 341px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin: 17px auto 0;
}

.storeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 94px;
  border-radius: 5px;
  background: white;
  margin: 1px;
}

.storeLogo {
  width: 36px;
  height: 36px;
}

.storeName {
  margin-top: 15px;
}
