@import './variables.module';

.main {
  background-color: $colorBackgroundGray;
}

.eventTag {
  margin: 29px auto 14px;
  padding: 0 19px;

  .titleTag {
    font-size: 13px;
    color: $color-primary;
  }

  .event {
    font-size: $fontMedium;
    font-weight: $weightBold;
    margin-top: 5px;
  }
}
